@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro");

body {
  font-family: "Source Sans Pro";
  color: #333333;
  padding-top: 50px;
}

details {
  position: relative;
}

details summary::-webkit-details-marker {
  display: none;
}

details summary::before {
  content: "";
  position: absolute;
  left: 0;
  background: url("data:image/svg+xml;base64,PHN2ZyBoZWlnaHQ9IjM0IiB2aWV3Qm94PSIwIDAgMjQgMjQiIHdpZHRoPSIzNCIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj48cGF0aCBkPSJNOC41OSAxNi4zNGw0LjU4LTQuNTktNC41OC00LjU5TDEwIDUuNzVsNiA2LTYgNnoiLz48L3N2Zz4=")
    no-repeat 50% 50% / 1em 1em;
  width: 1.5em;
  height: 1.5em;
  transition: transform 0.1s linear;
}

summary {
  width: 100%;
  padding: 20px;
  padding-left: 25px;
  border-bottom: 1px solid #ccc;
}

summary:hover {
  color: #007bff;
}

summary:focus {
  outline: none;
}

details[open] summary:before {
  transform: rotate(90deg);
}

details[open] > summary {
  color: #007bff;
}

details[open] > summary ~ * {
  animation: open 1s ease;
}

p.source {
  padding-top: 50px;
  font-size: 0.75em;
  text-align: center;
}

@keyframes open {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
