<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>WhiteNoise O'rnatish</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="{% static 'assets/img/Kostyum.jpg'%}" rel="icon">
  <link href="{% static 'assets/img/Kostyum.jpg'%}" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="{% static 'assets/vendor/aos/aos.css'%}" rel="stylesheet">
  <link href="{% static 'assets/vendor/bootstrap/css/bootstrap.min.css'%}" rel="stylesheet">
  <link href="{% static 'assets/vendor/bootstrap-icons/bootstrap-icons.css'%}" rel="stylesheet">
  <link href="{% static 'assets/vendor/boxicons/css/boxicons.min.css'%}" rel="stylesheet">
  <link href="{% static 'assets/vendor/glightbox/css/glightbox.min.css'%}" rel="stylesheet">
  <link href="{% static 'assets/vendor/swiper/swiper-bundle.min.css'%}" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="{% static 'assets/css/style_detail.css'%}" rel="stylesheet">
  <link href="{% static 'assets/css/style.css'%}" rel="stylesheet">

  <!-- =======================================================
  * Template Name: iPortfolio
  * Updated: Jan 09 2024 with Bootstrap v5.3.2
  * Template URL: https://bootstrapmade.com/iportfolio-bootstrap-portfolio-websites-template/
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
</head>

<body>

  <!-- ======= Mobile nav toggle button ======= -->
  <i class="bi bi-list mobile-nav-toggle d-xl-none"></i>

  <header id="header">
    <div class="d-flex flex-column">

      <div class="profile">
        <img src="{% static 'assets/img/Dubai.jpg'%}" alt="" class="img-fluid rounded-circle">
        <h1 class="text-light"><a href="{% url 'home'%}">Abdurahim Egamberdiyev</a></h1>
        <div class="social-links mt-3 text-center">
          <a href="https://www.youtube.com/" class="youtube"><i class="bx bxl-youtube"></i></a>
          <a href="https://t.me/Abdurahim_3616" class="telegram"><i class="bx bxl-telegram"></i></a>
          <!-- <a href="#" class="instagram"><i class="bx bxl-instagram"></i></a> -->
          <!-- <a href="#" class="google-plus"><i class="bx bxl-skype"></i></a> -->
          <!-- <a href="#" class="linkedin"><i class="bx bxl-linkedin"></i></a> -->
        </div>
      </div>

      <nav id="navbar" class="nav-menu navbar">
        <ul>
          <li><a href="{%url 'home'%}#hero" class="nav-link scrollto active"><i class="bx bx-home"></i> <span>Home</span></a></li>
          <li><a href="{%url 'home'%}#about" class="nav-link scrollto"><i class="bx bx-user"></i> <span>About</span></a></li>
          <li><a href="#resume" class="nav-link scrollto"><i class="bx bx-book-bookmark bx-tada-hover"></i> <span>Dars</span></a></li>
          <li><a href="{%url 'home'%}#portfolio" class="nav-link scrollto"><i class="bx bx-book-content"></i> <span>Portfolio</span></a></li>
          <!-- <li><a href="#services" class="nav-link scrollto"><i class="bx bx-server"></i> <span>Services</span></a></li> -->
          <li><a href="{%url 'home'%}#contact" class="nav-link scrollto"><i class="bx bx-envelope"></i> <span>Contact</span></a></li>
        </ul>
      </nav><!-- .nav-menu -->
    </div>
  </header><!-- End Header -->

  <main id="main">

    <!-- ======= Breadcrumbs ======= -->
    <section class="breadcrumbs">
      <div class="container">

        <div class="d-flex justify-content-between align-items-center">
          <h2></h2>
          <ol>
            <li><a href="{% url 'home'%}">Home</a></li>
            <li>WhiteNoise O'rnatish</li>
          </ol>
        </div>

      </div>
    </section><!-- End Breadcrumbs -->
<br><br>
    <div class="container-fluid">
      <div class="row">
        <div class="col-10 offset-1">
          <h2 style="text-align: center">WhiteNoise O'rnatish</h2>
          <br />
            <details>
              <summary>1) Birinchi Qadam:</summary>
              <p>PowerShell-ni Ochib env(Muhit) ni aktivatsiya qilamiz:</p>
              <div class="container">
                <p>pip install whitenoise</p>
              </div>
            </details>
            <details>
              <summary>2) Ikkinchi Qadam:</summary>
              <p>1) Proyektimmizdagi setting.py ni ochamiz va "MIDDLEWARE" qismiga o'tamiz</p>
                <p><picture>
                  <source srcset="{% static 'assets/img/22.jpg'%}" type="image/svg+xml">
                  <img src="{% static 'assets/img/22.jpg'%}" class="img-fluid img-thumbnail" alt="..."><hr>
                </picture>
                <p>2) "django.middleware.security.SecurityMiddleware", - Shuni takiga buni yozamiz --> "whitenoise.middleware.WhiteNoiseMiddleware",</p>
              </p>
            </details>
            <details>
              <summary>3) Uchinchi Qadam:</summary>
              <p>1) Proyektimmizdagi setting.py ni ochamiz va "INSTALLED_APPS" qismiga o'tamiz</p>
              <p>2) "django.contrib.messages", - Shuni takiga buni yozamiz --> "whitenoise.runserver_nostatic",</p>
            </details>
            <details>
              <summary>4) Uchinchi Qadam(So'ngi):</summary>
              <p>PowerShell-ni Ochib env(Muhit) ni aktivatsiya qilamiz:</p>
                <p> pip freeze > requirements.txt</p>
            </details>
        </div>
      </div>
      <!-- <p class="source">Source: <a href="https://www.lipsum.com/">Lipsum</a></p> -->
    </div>

  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
  <footer id="footer">
    <div class="container">
      <!-- <div class="copyright">
        &copy; Copyright <strong><span>iPortfolio</span></strong>
      </div> -->
      <div class="credits">
        <!-- All the links in the footer should remain intact. -->
        <!-- You can delete the links only if you purchased the pro version. -->
        <!-- Licensing information: https://bootstrapmade.com/license/ -->
        <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/iportfolio-bootstrap-portfolio-websites-template/ -->
        Designed by <a href="https://t.me/MasterPhoneUz">MasterPhone</a>
      </div>
    </div>
  </footer><!-- End  Footer -->

  

  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Vendor JS Files -->
  <script src="{% static 'assets/vendor/purecounter/purecounter_vanilla.js'%}"></script>
  <script src="{% static 'assets/vendor/aos/aos.js'%}"></script>
  <script src="{% static 'assets/vendor/bootstrap/js/bootstrap.bundle.min.js'%}"></script>
  <script src="{% static 'assets/vendor/glightbox/js/glightbox.min.js'%}"></script>
  <script src="{% static 'assets/vendor/isotope-layout/isotope.pkgd.min.js'%}"></script>
  <script src="{% static 'assets/vendor/swiper/swiper-bundle.min.js'%}"></script>
  <script src="{% static 'assets/vendor/typed.js/typed.umd.js'%}"></script>
  <script src="{% static 'assets/vendor/waypoints/noframework.waypoints.js'%}"></script>
  <script src="{% static 'assets/vendor/php-email-form/validate.js'%}"></script>

  <!-- Template Main JS File -->
  <script src="{% static 'assets/js/main.js'%}"></script>

</body>

</html>